"Procedure","ID","Link","Title","Subtitle","Description","Started","Ended","Status"
{{#each data.items}}
"{{procedure}}","{{id}}","{{{link}}}","{{text}}","{{subtitle}}","{{description}}","{{started}}","{{ended}}","{{status}}"
{{/each}}